= effective_form_with(model: qb_order_items_form, url: effective_qb_sync.admin_qb_sync_path(qb_order_items_form)) do |f|
  %table.table
    %thead
      %tr
        %th Order
        %th Order Item
        %th Quickbooks Item Name
    %tbody
      - qb_ticket.orders.each do |order|
        - order.order_items.each_with_index do |order_item, index|
          %tr
            %td= (link_to(('#' + order.to_param.to_s), effective_orders.admin_order_path(order)) if index == 0)
            %td= order_item
            %td
              = f.fields_for :qb_order_items, order_item.qb_order_item do |foi|
                = f.hidden_field :order_item_id, order_item.id
                = foi.text_field :name, label: false, required: false

  = effective_save(f, 'Save QuickBooks Item Names')
