%h2.effective-qb-sync-page-title= @page_title

%table.table
  %tbody
    - @qb_ticket.attributes.except('hpc_response', 'qb_request_id', 'id').each do |key, value|
      %tr
        %th= key.titleize
        %td= value

%hr

%table.table
  %thead
    %tr
      %th Time
      %th Message
  %tbody
    - @qb_ticket.qb_logs.each do |qb_log|
      %tr
        %th= qb_log.created_at.strftime("%H:%M:%S").html_safe
        %td= qb_log.message







