%h2.effective-qb-sync-page-title= @page_title

%table.table
  %tbody
    - @qb_ticket.attributes.except('hpc_response', 'qb_request_id', 'id').each do |key, value|
      %tr
        %th= key.titleize
        %td= value

%h2 Requests

%table.table
  %thead
    %tr
      %th Created
      %th State
  %tbody
    - @qb_ticket.qb_requests.each do |qb_request|
      %tr
        %td= qb_request.created_at
        %td= qb_request.state

%h2 Log

%table.table
  %thead
    %tr
      %th Date
      %th Message
  %tbody
    - @qb_ticket.qb_logs.each do |qb_log|
      %tr
        %td= qb_log.created_at
        %td= qb_log.state







